.satu{
    display: block;
    width: 200px;
    height: 200px;
    background-color: blue;
    color: white;
    text-align: center;
    line-height: 200px;
    font-size: 50pt;
    left: 50px;
    bottom: -50px;
}

.dua{
    display: block;
    width: 200px;
    height: 200px;
    background-color: red;
    color: white;
    text-align: center;
    line-height: 200px;
    font-size: 50pt;
    position: relative;
    top: -40px;
    left: -30px;
}

.tiga{
    display: block;
    width: 200px;
    height: 200px;
    background-color: green;
    color: white;
    text-align: center;
    line-height: 200px;
    font-size: 50pt;

}

.container{
    border: 10px solid black;
    width: 600px;
    height: 600px;
    position: relative;
    overflow: hidden;
}

body{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 100vh;
}